.detail {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 56%;
  display: none;
  z-index: 2;
}
.active {
  display: block;
}
.detail::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: -14px;
  top: 19px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #ffffff;
}
.detail--header-title {
  font-weight: 600;
  font-size: 18px;
  padding-right: 4.5em;
}
.detail--header-info {
  color: #757575;
  font-size: 14px;
}
.detail--header-info span {
  padding-right: 25px;
}
.detail--campany {
  max-width: 295px;
  display: block;
}
.detail--content-desc {
  font-size: 15px;
  line-height: 25px;
}
.detail--header-date {
  position: absolute;
  top: 24px;
  right: 15px;
  font-size: 12px;
  color: #757575;
}
.detail--header-action  .btn-primary {
  padding: 5px 30px;
}
.detail--content h5 {
  font-size: 18px;
}
.detail-overview .name {
  font-weight: 600;
}
.detail-overview span {
  font-weight: 300;
}
.detail svg {
  width: 16px;
  height: 16px;
  position: relative;
  line-height: 0;
  top: -2px;
}
.detail--content-desc h3 {
  font-size: 16px;
  font-weight: bold;
}