.filter .form-checkbox {
  width: 1.25rem;
  height: 1.25rem;
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  color: #FF9800;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  margin-right: 10px;
}
.filter .form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.filter .form-checkbox:focus {
  outline: 0;
}
.filter label {
  position: relative;
  top: 2px;
}
.filter h5 {
  font-size: 16px;
  margin-bottom: 15px;
}
.filter .location-input {
  padding: 11px 15px;
  border:0;
  box-shadow: 0px 0px 2px 0 rgba(0,0,0,0.05);
}